/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.08.2014, 12:09:13
    Author     : Oliver
*/

body {
  padding-top: 50px;
}

.colorSample{
    height: 50px;
    width: 50px;
    display: inline-block;
}